 ul{
            list-style: none;
            margin: 0;
            padding:0;
           
            overflow: hidden;
            background-color:#b4a2a2;
        }
        li{
            float: left;
            border-right: 5px solid #bbb;
        }
        li:last-child{
            border-right:none;
        }
        li a{
            display:block;
           /* width: 60px;*/
           color: white;
           text-align: center;
            padding: 8px 16px;
            text-decoration: none;

        }
        li a:hover{
            background-color: green;
           /* color:white;*/
         }
         .active{
            background-color:blue;
         }
